<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">
    
    <servlet>
        <init-param>
            <param-name>admin</param-name>
            <param-value>Slavisa Lejic</param-value>
        </init-param>
        <servlet-name>Admin Servlet</servlet-name>
        <servlet-class>AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin Servlet</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>admin</param-name>
        <param-value>Slavisaadmin Lejic</param-value>
    </context-param>

</web-app>
